#about {
	display: flex;
	margin-top: 20vh;
	text-align: center;
	background-color: $background-color_9;
	color: $color_1;
	font-family: $font-family_6;
	flex-direction: column;
	h3 {
		text-align: left;
		margin-top: 10vh;
	}
	img {
		object-fit: cover;
		box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.37);
		display: block;
		transition: 0.3s;
		width: 18vw;
		height: 60vh;
		float: left;
		margin: 3px 190px 40px 150px;
		border-radius: 20px;
	}
	&:hover {
		img {
			box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
		}
	}
}
.aboutFirst {
	padding-top: 8vh;
}
.aboutText {
	display: flex;
	flex-direction: column;
	row-gap: 2vh;
	align-items: flex-start;
	margin-right: 10vh;
	p {
		text-align: left;
	}
}
.naslov3 {
	a {
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $color_4;
		font-family: $font-family_4;
		position: relative;
		top: 1vh;
		&:hover {
			box-shadow: 0px 10px 30px 10px white;
		}
	}
}
span {
	color: $color_6;
}
.btn {
	a {
		color: $color_6;
		text-transform: uppercase;
		text-decoration: none;
		background: rgb(255, 255, 255);
		padding: 20px;
		border-radius: 50px;
		display: inline-block;
		border: none;
		transition: all 0.4s ease 0s;
		margin-bottom: 20px;
	}
	&:hover {
		text-shadow: 0px 0px 6px rgb(8, 4, 4);
		transition: all 0.4s ease 0s;
	}
}
