.contact {
	max-width: 25vw;
	margin: 50px auto;
	background-color: $background-color_10;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}
h1 {
	text-align: center;
	color: $color_8;
}
.contact-form {
	margin-top: 20px;
}
.form-group {
	margin-bottom: 20px;
	label {
		display: block;
		margin-bottom: 5px;
		color: $color_9;
		font-size: 16px;
	}
	input {
		width: calc(100% - 20px);
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 16px;
	}
	textarea {
		width: calc(100% - 20px);
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 16px;
		resize: vertical;
		min-height: 100px;
	}
	input[type="submit"] {
		background-color: $background-color_9;
		color: $color_10;
		border: none;
		padding: 10px 20px;
		border-radius: 5px;
		font-size: 16px;
		cursor: pointer;
		width: 100%;
		box-sizing: border-box;
		&:hover {
			background-color: $background-color_11;
		}
	}
}
input {
	&::placeholder {
		color: $color_11;
		font-family: $font-family_6;
	}
}
textarea {
	&::placeholder {
		color: $color_11;
		font-family: $font-family_6;
	}
}
