#footer {
	background-color: $background-color_9;
	text-align: center;
	width: 100%;
	p {
		margin: 0;
		color: $color_8;
		font-size: 14px;
	}
}
.link {
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
