#home {
	color: $color_1;
	img {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		filter: brightness(70%);
		height: 96vh;
	}
}
#slova {
	position: absolute;
	bottom: 20vh;
	font-size: 30px;
	letter-spacing: 1px;
	right: 10vw;
	font-family: $font-family_3;
	h1 {
		color: $color_1;
	}
}
.wrapper {
	display: inline-flex;
	margin-top: 30px;
	.icon {
		position: relative;
		background-color: $background-color_2;
		color: $color_3;
		border-radius: 50%;
		padding: 40px;
		margin: 15px;
		width: 40px;
		height: 40px;
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
		transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		&:hover {
			.tooltip {
				top: -45px;
				opacity: 1;
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
			span {
				text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
			}
		}
	}
	.tooltip {
		position: absolute;
		top: 0;
		font-size: 13px;
		background-color: $background-color_2;
		color: $color_3;
		padding: 5px 8px;
		border-radius: 7px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
		opacity: 0;
		transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		&::before {
			position: absolute;
			content: '';
			height: 8px;
			width: 8px;
			background-color: $background-color_2;
			bottom: -3px;
			left: 50%;
			transform: translate(-50%) rotate(45deg);
			transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		}
	}
	.facebook {
		&:hover {
			background-color: $background-color_3;
			color: $color_4;
			.tooltip {
				background-color: $background-color_3;
				color: $color_4;
				&::before {
					background-color: $background-color_3;
					color: $color_4;
				}
			}
		}
	}
	.twitter {
		&:hover {
			background-color: $background-color_4;
			color: $color_4;
			.tooltip {
				background-color: $background-color_4;
				color: $color_4;
				&::before {
					background-color: $background-color_4;
					color: $color_4;
				}
			}
		}
	}
	.instagram {
		&:hover {
			background-color: $background-color_5;
			color: $color_4;
			.tooltip {
				background-color: $background-color_5;
				color: $color_4;
				&::before {
					background-color: $background-color_5;
					color: $color_4;
				}
			}
		}
	}
	.github {
		&:hover {
			background-color: $background-color_6;
			color: $color_4;
			.tooltip {
				background-color: $background-color_6;
				color: $color_4;
				&::before {
					background-color: $background-color_6;
					color: $color_4;
				}
			}
		}
	}
	.youtube {
		&:hover {
			background-color: $background-color_7;
			color: $color_4;
			.tooltip {
				background-color: $background-color_7;
				color: $color_4;
				&::before {
					background-color: $background-color_7;
					color: $color_4;
				}
			}
		}
	}
}
