$color_1: white;
$color_2: silver;
$color_3: pink;
$color_4: #ffffff;
$color_5: #000000;
$color_6: black;
$color_7: rgb(216, 93, 112);
$color_8: #333;
$color_9: #666;
$color_10: #fff;
$color_11: rgba(0, 0, 0, 0.37);
$font-family_1: Karla;
$font-family_2: Dosis;
$font-family_3: Montserrat;
$font-family_4: Nanum_Myeongjo;
$font-family_5: Roboto-light;
$font-family_6: Satisfy;
$background-color_1: pink;
$background-color_2: #ffffff;
$background-color_3: #3b5999;
$background-color_4: #46c1f6;
$background-color_5: #e1306c;
$background-color_6: silver;
$background-color_7: red;
$background-color_8: white;
$background-color_9: lightpink;
$background-color_10: #fff;
$background-color_11: #ff5eab;

@font-face {
	font-family: Satisfy;
	src: url('./access/Satisfy/Satisfy-Regular.ttf');
}
@font-face {
	font-family: Nanum_Myeongjo;
	src: url('./access/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf');
}
@font-face {
	font-family: Karla;
	src: url('./access/Karla/Karla-Italic-VariableFont_wght.ttf');
}
@font-face {
	font-family: Montserrat;
	src: url('./access/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}
@font-face {
	font-family: Roboto-light;
	src: url('./access/Roboto/Roboto-Light.ttf');
}
@font-face {
	font-family: Dosis;
	src: url('./access/webfontkit-20240228-064528/dosis-variablefont_wght-webfont.woff');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	font-family: $font-family_1;
