$color_1: white;
$color_2: silver;
$color_3: #000000;
$color_4: #ffffff;
$color_5: black;
$color_6: rgb(216, 93, 112);
$color_7: #333;
$color_8: #666;
$color_9: #fff;
$color_10: rgba(0, 0, 0, 0.37);
$font-family_1: Karla;
$font-family_2: Dosis;
$font-family_3: Montserrat;
$font-family_4: Nanum_Myeongjo;
$font-family_5: IndieFlower;
$font-family_6: Libre Baskerville;
$font-family_7: Satisfy;
$background-color_1: pink;
$background-color_2: #ffffff;
$background-color_3: #3b5999;
$background-color_4: #46c1f6;
$background-color_5: #e1306c;
$background-color_6: black;
$background-color_7: red;
$background-color_8: white;
$background-color_9: lightpink;
$background-color_10: #fff;
$background-color_11: #ff5eab;

@font-face {
	font-family: Satisfy;
	src: url('./Satisfy/Satisfy-Regular.ttf');
}
@font-face {
	font-family: Nanum_Myeongjo;
	src: url('./Nanum_Myeongjo/NanumMyeongjo-Regular.ttf');
}
@font-face {
	font-family: Karla;
	src: url('./Karla/Karla-Italic-VariableFont_wght.ttf');
}
@font-face {
	font-family: Montserrat;
	src: url('./Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}
@font-face {
	font-family: Libre_Baskerville;
	src: url('./Libre_Baskerville/LibreBaskerville-Regular.ttf');
}
@font-face {
	font-family: Dosis;
	src: url('./Dosis/Dosis/Dosis-VariableFont_wght.ttf');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}